@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPC {
  width: 240px;
  margin-left: -10px;
  margin-right: 20px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.fbody {
  background-color: black;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
a:hover {
  color: #b9b9b9;
  text-decoration: none;
}
a .copyOBC {
  color: #555252;
}

#navItem {
  margin-left: 40px;
  text-shadow: 3px 3px 3px black;
}
#navItem:hover {
  color: #b9b9b9;
  text-decoration: none;
}
#navItem .copyOBC {
  color: #555252;
}

@media (max-width: 405px) {
  .logoPC {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPC {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 449px) {
  .downloadDesc button {
    margin: 10px 0px;
  }
}
.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/02.gif);
}
.container00.container03 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container04 {
  background-image: url(../../images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}

@media (max-width: 750px) {
  .titlepadding {
    padding-bottom: 120px;
  }
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
.container00.container05 {
  background: url(../../images/falcon9/01.jpg);
  background-size: cover;
  background-position: center;
}
.container00.container06 {
  background: url(../../images/falcon9/02.jpg);
  background-size: cover;
  background-position: center;
}
.container00.carrossel01 {
  background: url(../../images/falcon9/03.jpg);
  background-size: cover;
  background-position: center;
}
.container00.carrossel02 {
  background: url(../../images/falcon9/04.jpg);
  background-size: cover;
  background-position: center;
}
.container00.carrossel03 {
  background: url(../../images/falcon9/05.jpg);
  background-size: cover;
  background-position: center;
}
.container00.carrossel04 {
  background: url(../../images/falcon9/06.jpg);
  background-size: cover;
  background-position: center;
}
.container00.carrossel05 {
  background: url(../../images/falcon9/07.jpg);
  background-size: cover;
  background-position: center;
}
.container00.container07 {
  background: url(../../images/falcon9/08.jpg);
  background-size: cover;
  background-position: center;
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-shadow: 3px 3px 3px black;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 80vw;
  padding-left: 10%;
  padding-top: 15%;
  text-shadow: 3px 3px 3px black;
}

.carrosselSlide img {
  height: 100vh;
}

.table {
  padding: 0px 200px;
}

.carousselText {
  background-color: black;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 80px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  #overViewPosition {
    padding-top: 35%;
  }
  .falcon9Desc {
    width: auto;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
    padding-top: 70px;
  }
  #overViewPosition {
    margin-left: 5%;
  }
}
@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 50px;
  }
  .falcon9Desc {
    font-size: 18px;
    line-height: auto;
  }
  .subTitleFalcon {
    font-size: 16px;
  }
}
.container00.container08 {
  background-image: url(../../images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../../images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../../images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../../images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../../images/humanFlight/05.jpg);
}

.container01Content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container01Content .titleHuman {
  font-size: 120px;
}
.container01Content .subTitleHuman {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textDescEarth {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 20px;
  width: 800px;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subTitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .container01Content .titleHuman {
    font-size: 90px;
  }
  .container01Content img {
    width: 150px;
  }
  .containerRightContent {
    margin-left: 20%;
  }
  .containerLeftContent {
    margin-left: 15%;
  }
  .earthDesc .textDescEarth {
    width: auto;
    font-size: 18px;
  }
}
@media (max-width: 610px) {
  .container01Content .titleHuman {
    font-size: 60px;
  }
  .container01Content .subTitlehuman {
    font-size: 24px;
  }
  .containerRightContent {
    margin-left: 5%;
  }
  .containerRightContent {
    margin-left: 5%;
  }
  .titleSection {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .container01Content .titleHuman {
    font-size: 40px;
  }
  .container01Content .subTitleHuman {
    font-size: 24px;
  }
  .container01Content img {
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
